.required:after { content:" * "; color: red; }

#register-form{height:400px;overflow-y:auto}

label.error { 
   float: none; 
   color: red; 
   padding-left: .5em;
   vertical-align: top; 
   display: block;
}​